# SPDX-FileCopyrightText: 2025 Will Reed <wreed@disroot.org>
#
# SPDX-License-Identifier: LGPL-3.0-or-later

root = true

[*]
insert_final_newline = false

[*.{cc,hh,cpp,hpp,cxx,hxx}]
indent_style = space
indent_size = 4

[meson.{build,options}]
indent_style = space
indent_size = 2