*.o
*.a
*.so
*.tar
*.tar.*
*.gz
*.z
*.Z
*.zst
*.zstd
*.lz
*.lzma
*.xz
*.bz2
*.br

/demo
compile_commands.json

.cache/
.build/
.bld/

build/
bld/
stage/

.zed/
/*.god
/tokens

/libgod-*.*.*

doc/.build/

/god-tool

/result